html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --main-text-color: #757575;
    --title-text-color: #212121;
    --focus-color: #2196F3;
    --heigh-logo-color: black;
    --hero-background-color: #2F303A;  
    --hero-text-color: #FFFFFF;
    --footer-bcg-color: #2F303A;
    --footer-logo-color: white;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --nav-logo-web-color: #2196F3;
    --cards-bcg-color: white;
    --hero-button-fh-color: #188CE8; 
    --main-letter-spacing: 0.03em;

}
    
body{
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-text-color);
    background-color: white;
    letter-spacing: 0.03em;
    font-size: 14px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

/* навигация */
.nav-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--heigh-logo-color);
    text-decoration: none;
}


.nav-logo-web{
    color: var(--nav-logo-web-color);

}

.nav-navigation{
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-navigation:hover,
.nav-navigation:focus,
.link:hover, 
.link:focus{
    color: var(--focus-color);
}
.nav-navigation.current{
    color: var(--focus-color);
}

/* -------------------------------Контакты------------------------------- */
.contacts{
  
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    }
   
/* ----------------------------герой--------------------------------------- */
.hero{
   
    background-color: var(--hero-background-color);     
    
    margin-bottom: 94px;
    text-align: center;
    align-items: center;
}
.hero-text{
    margin-top: 0;
    margin-bottom: 30px;;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
    
    
}

.hero-button{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;
    background-color: var(--focus-color);
    color: var(--hero-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }
.hero-button:hover,
.hero-button:focus{
    background-color: var(--hero-button-fh-color);
}

/* --------------------другое--------------------- */
.ul{
    list-style: none;
    
}


/* преимущества */
.exelents-list{
    margin-bottom: 94px;
}
.exelents-title{
    font-weight: 700;
    line-height: 1.14;
    color: var(--title-text-color);
    letter-spacing: var(--main-letter-spacing);
    font-size: 14px;
    
    margin-bottom: 10px;
}
.exelents-text{
    line-height: 1.71;  
}

/* -----------------what we do-------------- */
.what-we-do{
    margin-bottom: 94px;
}
.what-we-do-title{    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
/* -------------------------наша команда ------------------------*/
.our-team-title{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    letter-spacing: var(--main-letter-spacing);
}
.our-team-name{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}
.our-team-position{

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

}

/* -----------------------------------Футер ----------------------------------*/
.footer{
    background-color: var(--footer-bcg-color);
}
.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--footer-logo-color);
    text-decoration: none;
    }
.footer-logo-web{
     color: var(--nav-logo-web-color);
}
.address-geography{
    
    font-style: normal;
    line-height: 1.71;
    color: var(--hero-text-color);
    text-decoration: none;
}
.footer-contact{
    
    font-style: normal;
    line-height: 1.71;
    color: var(--footer-contact-color);
    text-decoration: none;
   
}
/* --------------------------Портфолио--------------------------- */
.container{
    outline: 5px solid tomato;
    margin-bottom: 94px;
}
.navigation{
    outline: 5px solid aqua;
    margin-bottom: 94px;
}
/* ----карточки------- */
.project-title{
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    }
.project-type{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);



}
.project-cards{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
    color: var(--title-text-color);
    text-decoration: none;
    background-color: var(--cards-bcg-color);
    /* margin-bottom: 20px; */
}


/* -----------кнопки------------- */
.hero-button,
.portfolio-button{
    cursor: pointer;
}

.portfolio-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    min-width: 130px;
    border-color: transparent;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background-color: var(--focus-color);
    color: var(--hero-text-color);
}
